/*
    performances.css
    Ari Conati & Grant Lee
    9 May 2015
    Styles for the "NYPhil Performances" webapp
    for CS 257, Spring 2018. 
*/

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}

