


body:before, body:after {
    content: "";
    position: fixed;
    background: linear-gradient(#99b3ff, #e6ecff);
    left: 0;
    right: 0;
    height: 20px;
}

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}

body {
    background-image: url('Images/fresh_snow.png');
    text-align: center;
}

p {
    font-size: 12px;
    line-height: 0px;
}


h1 {
    font-size: 24px;
    font-weight: bold;
}

form.search_element {
    font-size: 12px;
}

button {
    cursor: pointer;
}

div.performance_search {
    padding-top: 10px;
}

.search_element {
    padding-top: 5px;
}
