/*
* @Author Ari Conati, Grant Lee
* Stylesheet for searchPage.html
*/


body:before, body:after {
    content: "";
    position: fixed;
    background: linear-gradient(#99b3ff, #e6ecff);
    left: 0;
    right: 0;
    height: 20px;
}

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}

body {
    background-image: url('images/fresh_snow.png');
    text-align: center;
}

p {
    font-size: 12px;
    line-height: 0px;
}


h1 {
    font-size: 24px;
    font-weight: bold;
}

form.search_element {
    font-size: 12px;
}

.exit_sign {
    position: fixed;
    height: 6vw;
    width: 6vw;
    top: 2%;
    left: 91.5%;
}

.exit_sign:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

button {
    cursor: pointer;
}

div.performance_search {
    padding-top: 10px;
}

.search_element {
    padding-top: 5px;
}
