<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='performances.css') }}" />
        <script>var api_port = {{ api_port }};</script>
        <script type="text/javascript" src="{{ url_for('static', filename='performances.js') }}" defer></script>
        <link rel="shortcut icon" href="https://res.cloudinary.com/nyphil/image/upload/v1463431638/images/shared/icons-logos/favicon.ico"/>
        <title>CS 257: Software Design, Spring 2017</title>
    </head>

    <body>
        <h1>CS 257: Sample Web App</h1>
        <h2>Spring 2017</h2>

        <h3>Books &amp; Authors</h3>

        <p><button id="pieces_button">Get Pieces</button></p>
        <p><button id="soloists_button">Get Soloists</button></p>
        <p><button id="conductors_button">Get Conductors</button></p>
        <p><button id="instruments_button">Get Instruments</button></p>
        <p><button id="venues_button">Get Venues</button></p>
        <p><button id="locations_button">Get Locations</button></p>
        <p><button id="dates_button">Get Dates</button></p>
        <p><button id="composers_button">Get Composers</button></p>
        <p><button id="performances_button">Get Performances</button></p>

        <p><table id="results_table"></table></p>

    </body>
</html>

